<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="topNav">
        <div>About Me</div>
        <div>Project One</div>
        <div>Project Two</div>
        <div>Project Three</div>
        <div>Project Four</div>
        <div>GitHub</div>
    </nav>