<%- include("./partials/header")  %>

<div id="topBanner">

<h2 class="headSmall" id="headTop">Welcome to</h2>
<h1 class="headLarge">Ollo Codes</h1>
<h2 class="headSmall" id="headBottom">I'm Ollo. And I code.</h2>

</div>

<div id="aboutMe" class="section">

  <h1>About Me</h1>

  Hi! I'm Ollo Clark, a software engineer with a background in theater, education, 
  and management consultancy. A fascination with language, logic, 
  and puzzles allows me to tackle difficult or opaque problems with curiosity, 
  energy and humor. Six years of stage work taught me real teamwork, while eight years of teaching 
  taught me communication, connection, and patience.

</div>

<div id="projectOne" class="section">

  <h1>Project One</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.

</div>

<div id="projectTwo" class="section">

  <h1>Project Two</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.
 
</div>

<div id="projectThree" class="section">

  <h1>Project Three</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.
     
</div>

<div id="projectFour" class="section">

  <h1>Project Four</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.
    
</div>

<%- include("./partials/footer")  %>