<%- include("./partials/header")  %>

<section id="aboutMe" class="section">

  <h1>About Me</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.

</section>

<section id="projectOne" class="section">

  <h1>Project One</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.

</section>

<section id="projectTwo" class="section">

  <h1>Project Two</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.
 
</section>

<section id="projectThree" class="section">

  <h1>Project Three</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.
     
</section>

<section id="projectFour" class="section">

  <h1>Project Four</h1>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae 
  voluptatem explicabo itaque! Qui tempora voluptatum
  recusandae? Nostrum fugiat delectus eaque veritatis nemo vitae atque.
  Perspiciatis error architecto maiores omnis officia.
    
</section>

<%- include("./partials/footer")  %>